body { font: 14px Impact;}

path {
  stroke: orange;
  stroke-width: 5;
  fill: none;
}

.axis path,

.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.area {
    fill: aqua;
    stroke-width: 0;

}
